<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue 1</title>
	<script src="https://unpkg.com/vue"></script>
	<style type="text/css">
		.red{
			color: red;
		}
		.active{
			color:green;
		}
		.underLine{
			text-decoration: underline;
		}
		.dangerBg{
			background:red;
		}
		.successBg{
			background: green;
		}
		@keyframes mymove{
			0% {transform:rotate(0deg);}
			100% {transform:rotate(360deg);}
		}

		@-webkit-keyframes mymove{
			0% {transform:rotate(0deg);}
			100% {transform:rotate(360deg);}
		}
	</style>
</head>
<body>
	<div id="app">
		<!-- 模板语法 -->
		<p>{{message}}</p>

		<!-- 表达式 -->
		<p>
			{{5+5}} <br>
			{{seen?"yes":"no"}} <br>
			{{message.split("").reverse().join("")}}
		</p>

		<!-- 指令(带有v-前缀的特殊属性 指令用于在表达式的值改变是将某些行为应用到元素上) -->

		<!-- 条件指令-->
		<p v-if="seen">现在你看到我了</p>
		<p v-show="seen">我是一直存在的</p>
		<template v-if="seen">
			<h1>你好</h1>
			<p>还好吧</p>
			<p>明天怎么样</p>
		</template>
		<p v-if="random > 0.2">{{random}}</p>
		<p v-else>没有超过0.2</p>

		<!-- 循环指令 -->
		<table>
			<tr v-for="item in arr">
				<td>{{item.name}}</td>
				<td>{{item.age}}</td>
				<td>{{item.sex}}</td>
			</tr>
		</table>
		<ul>
			<li v-for="(item,key,index) in obj">{{index}}.{{key}}:{{item}}</li>
		</ul>
		<ol>
			<li v-for="i in 10">{{i}}</li>
		</ol>

		<!-- bind 绑定属性 -->
		<p v-bind:title="message">绑定属xxxxxxxxxxxxxxxxxxxxxxxx性值</p>
		<label for="radio"><input type="checkbox" v-model="seen" id="radio">点击切换类名</label>
		<p :class="{'red':seen}">切换我的颜色</p>		

		<!-- v-on指令 响应绑定的事件 -->
		<form id="js-form" action="http://www.baidu.com" method="post">
			<input type="text" name="tel">
			<input type="text" name="age">
			<input type="submit" value="提交" @:click.prevent='dialog'>
		</form>

		<!-- 用户输入 双向绑定 -->
		<input type="text" v-model="message">

		<!-- 过滤器 -->
		{{message|capitalize|firstLow(num)}} <br/><br/>

		<!-- vue.js 计算属性 -->
		{{message}}

		<!-- vue样式绑定 -->
		<p :class="{active:isActive,underLine:hasLine}">来啊给我添加类名啊</p>
		<p :class="['active','underLine']">来啊给我添加类名啊2</p>
		<p :class="['active',seen ? 'underLine' : '']">三元表达式切换样式</p>
		<p :style="{color:'#ccc','font-size':'20px'}">绑定内联样式</p>
		<div style="width: 50px;height: 50px; animation:mymove 5s infinite linear;" :class="classObj"></div>

		<!-- 事件处理器 -->
		<button @click="greet">单机事件</button>
		<button @click="greet2('你好')">事件传参</button>

		<!-- 事件修饰符 -->
		<div @click.self="greet" style="padding: 20px">
			self 只有绑定事件的对象触发  子级不会触发
			<div>子级</div>
		</div>
		<div @click="greet2('你好')" style="padding: 20px">
			stop 阻止事件冒泡
			<div @click.stop="greet">子级</div>
		</div>
		<div @click.capture="greet2('你好')" style="padding: 20px">
			capture 事件捕获模式原生js 一样即addEventListener('click',function(){},true)
			<div @click="greet">子级</div>
		</div>
		<!-- 按键修饰符 -->
		<input type="text" @keyup.ctrl.enter="myKey" @keyup.alt.67="myKey">

		<!-- vue之表单元素 -->
		<input type="text" v-model="message">
		<p>{{message}}</p>
		<textarea id="" v-model="message2" @keyup="myKey" cols="30" rows="10">{{message2}}</textarea>
		<p>{{message2}}</p>

		<p>单个复选框则为逻辑值</p>
		<label for="life">life</label>
		<input v-model="checkArr1" type="checkbox" value="life">
		<p>{{checkArr1}}</p>
		<p>多个复选框 绑定至同一个数组</p>
		<label for="google">google</label>
		<input v-model="checkArr" type="checkbox" id="google" value="google">
		<label for="baidu">baidu</label>
		<input v-model="checkArr" type="checkbox" id="baidu" value="baidu">
		<label for="ali">ali</label>
		<input v-model="checkArr" type="checkbox" id="ali" value="ali">
		<p>{{backTxt(checkArr)}}</p>

		<p>单选框</p>
		<label for="radio">单选框</label>
		<input id="radio" type="radio" name="radio" value="单选" v-model="picked" />
		<label for="radio2">单选框2</label>
		<input id="radio2" type="radio" name="radio" value="单选2" v-model="picked" />
		{{picked}}

		<p>下拉列表</p>
		<select name="first" v-model="selectTxt">
		    <option value="">选择一个网站</option>
		    <option value="www.runoob.com">Runoob</option>
		    <option value="www.google.com">Google</option>
		</select>
		<p>{{selectTxt}}</p>	
		<!-- 表单修饰符 -->
		<input type="text" v-model.trim='message'>
		<input type="text" v-model.number.lazy='age'>
		{{age}}

		<!-- vue之重点组件（组件可以扩展html元素，封装可重用代码）
			语法: Vue.component('tagName',options);
			注：全局组件必须在实例之前注册，可以应用在所有实例中；局部组件只能应用在当前实例中，如果组件名与全局组件相同会覆盖全局组建；
			全局组件和局部组件命名规则不能使用驼峰命名法，否则报错
		-->
		<runoobchild></runoobchild>
		<runoob></runoob>
		
		<!-- prop 是父组件用来传递数据的特殊属性 -->
		
	</div>
	<div id="app2">
		<runoob></runoob>
	</div>
	<script>
	//注册全局组件 注: 全局组件注册时必须在Vue实例之前 全局组建可以在所有示例中使用
	Vue.component('runoob',{
		template:'<h1>你好啊，将来</h1>'
	})
	var Vm2=new Vue({
		el:"#app2",
	})
	var Vm=new Vue({
		el:"#app",
		data:{
			message:'hellow future',
			message2:'sfasdfa',
			age:12,
			seen:true,
			isActive:true,
			hasLine:true,
			error:{
				'type':'fatal'
			},
			arr:[
				{'name':'小明','age':'12','sex':'男'},
				{'name':'小华','age':'13','sex':'女'},
				{'name':'小李','age':'10','sex':'男'}
			],
			checkArr:[

			],
			selectTxt:"",
			checkArr1:false,
			obj:{
				'name':'清华大学',
				'url':'www.qinghua.com',
				'slogn':'德玛西亚'
			},
			num:0,
			random:Math.random(),
			picked:[]
		},
		methods:{ 
			'dialog':function(obj){
				if(confirm("确定提交吗")){
					//document.getElementById('js-form').submit()
				}else{
					return false;
				}
			},
			'greet':function(event){
				//this 指vue实例
				alert('hellow'+this.arr[0].name)
				//even 指原生事件对象
				alert(event.target.innerHTML)
			},
			'greet2':function(mgs){
				alert(mgs);
				alert(event.target.innerHTML)
			},
			'myKey':function(event){
				console.log(event.code)
			},
			'backTxt':function(txt){
				if(txt.constructor===Array){
					return txt.join(',');
				}		
			}
		},
		filters:{
			'capitalize':function(val){
				if(!val) return "";
				return val.toString().charAt(0).toUpperCase() + val.slice(1);
			},
			'firstLow':function(val,arg1){
				if(!val) return "";
				return val.toString().charAt(0).toUpperCase()+arg1;			
			}
		},
		computed:{
			'site':{
				'get':function(){
					return this.message.split[" "][0]
				},
				'set':function(val){
					this.message=val+this.message;
				}
			},
			'classObj':function(){
				return {
					'successBg':this.seen&&!this.error,
					'dangerBg':this.error&&this.error.type==='fatal'
				}
			}
		},
		components:{//注册局部组件 注：局部组件只能在当前实例中使用
			runoobchild:{
				template:'<i>我是子组件</i>'
			}
		}
	})
	Vm.site="喊叫";
	//vm 实例暴露出的接口
	Vm.$watch('message',function(newVal,oldVal){
		console.log(111111111333331);
	})

	</script>
</body>
</html>
